<div class="temp">
  <mat-card class="content">
    <mat-card-content>
      <form class="form" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input type="text" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput />
        </mat-form-field>
        <button mat-raised-button color="primary">Entrar</button>
        <p class="register">
          No tienes una cuenta ? <a routerLink="/register" mat-button color="primary">registrate</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
